<div class="container" *ngIf='this.myFavMoviesList !== []'>
    <div *ngFor='let favMovie of myFavMoviesList' name='myFavMoviesList'>
        <div class="favourite">
            <div class="row one">
                <div class="col-sm-12 col-md-6">
                    <h2 style="font-size: 120%">{{favMovie?.title | uppercase }}</h2>
                    <img [src]="favMovie?.image?.url" [alt]="favMovie?.image?.name" class="favMovie-image" />
                </div>
                <div class="col-sm-12 col-md-6">
                    <p>
                        <span>Release Year</span> : {{favMovie?.releaseYear}}
                    </p>
                    <p>
                        <span>Genre</span> :
                        <span class="genreList" *ngFor="let genre of favMovie.genre">{{genre}}</span>
                    </p>
                    <p>
                        <span>Rating</span> : {{favMovie?.rating}}
                    </p>
                    <p>
                        <span>Created On</span> : {{favMovie?.createdAt | date: 'y/M/d'}}
                    </p>
                    <p>
                        <span>Updated On</span> : {{favMovie?.updatedAt | date: 'y/M/d'}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <span class="movie_plot"> Plot </span>
                    </p>
                    <p>{{favMovie?.description}}</p>

                </div>
            </div>
            <div class="row">
                <button class="btn" (click)="removeFromFav(favMovie.objectId)" [routerLink]="['/home']">Remove From
          Favourites</button>
            </div>
        </div>
    </div>

</div>

<p style="font-size: 150%" *ngIf='this.myFavMoviesList === []'>Sorry there is any favorites movies chosen</p>
