<nav class="navbar navbar-default">
    <div class="container-fluid row">
     <ul class="nav navbar-nav col-sm-12">
         <li>
            <a [routerLink]="['/home']"
             routerLinkActive ="active">Home</a>
          </li>
          <li class="my_fav">
           <a [routerLink]="['/myFav']"  routerLinkActive ="active"
           [routerLinkActiveOptions] ="{ active : true }">Favourites</a>
          </li>
      </ul>
      <form id="searchForm" (ngSubmit)='searchMovies(searchTerm)' class="navbar-form
        navbar-right col-sm-12 col-md-6"  >
        <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control" placeholder="Search Movies Here" />
              <button class="btn btn-default" modal-trigger='searchResults'>
            Search
          </button>
        </form>
    </div>
  </nav>


<simple-modal closeOnBodyClick="false" elementId='searchResults' title="Search Results">
  <div class="list-group">
    <a class="list-group-item" *ngFor='let movie of foundMovies'
      [routerLink]="['/movie', movie.objectId]">
    {{movie.title}}</a>
    </div>
</simple-modal>
