div {
  width: 100% ;

}

h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 0 0 15px 0;
    text-align: center;
    color: greenyellow;
    max-height:20%;
    text-transform: uppercase;
    background-color: #4e4a4a;
}
