.likeWidgetContainer {
    padding-right: 2px;
    position: relative;
    bottom: .23rem;
    margin: 0 auto;
}

.likeWidget {
    border-radius: 2px;
    display: flex;
    flex-flow: row nowrap;
}

.likeWidget .badge {
    flex: 1 1 30%;
    color: #1fa9ff;
    text-align: left;
    font-weight: 600;
}

.badge div {
    line-height: 1.5;
    font-size: 0.88rem;
}

.likeButton {
    cursor: pointer;
    color: whitesmoke;
    font-size: medium;
}

.fa {
    color: white;
}