/* You can add global styles to this file, and also import other style files */

body {
    min-width: 410px;
    background-color: rgb(67, 67, 67) !important;
    overflow-x: hidden;
}

.container {
    padding: 0;
    overflow-x: hidden !important;
}

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: .64rem 0;
}

h1 {
    font-size: 4.5rem !important;
    color: #e82a0d;
}

p {
    margin-top: .3rem !important;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

span {
    font-size: 1rem;
}

span:not(.genreList) {
    font-weight: 600 !important;
}

.genreList {
    padding-right: .4rem;
}

button {
    color: #555;
    min-width: 64px;
}

[hidden] {
    display: none !important;
}

img:not(#header_img) {
    width: 100%;
    min-height: 35vh;
    max-width: 320px;
}

.movie_plot {
    font-size: 1.5rem;
}

@media screen and (min-width: 767px) {
    .movie_detail_1,
    .favourite .one {
        align-items: center;
    }
}

@media all and (min-width: 985px) {
    .container {
        margin: 0 auto;
        max-width: 780px !important;
    }
}
